services:
  - name: api-gateway
    type: web
    env: docker
    dockerContext: ./api-gateway
    dockerfilePath: ./api-gateway/Dockerfile
    plan: free
    envVars:
      - key: AUTH_SERVICE_URL
        value: http://auth-service:1001
      - key: ORDER_SERVICE_URL
        value: http://order-service:1002
      - key: TABLE_SERVICE_URL
        value: http://table-service:1003
      - key: NOTIFICATION_SERVICE_URL
        value: http://notification-service:1004
      - key: MENU_SERVICE_URL
        value: http://menu-service:1005

  - name: auth-service
    type: web
    env: docker
    dockerContext: ./auth-service
    dockerfilePath: ./auth-service/Dockerfile
    plan: free
    envVars:
      - key: REDIS_URL
        value: redis://redis:6379

  - name: order-service
    type: web
    env: docker
    dockerContext: ./order-service
    dockerfilePath: ./order-service/Dockerfile
    plan: free
    envVars:
      - key: REDIS_URL
        value: redis://redis:6379

  - name: table-service
    type: web
    env: docker
    dockerContext: ./table-service
    dockerfilePath: ./table-service/Dockerfile
    plan: free
    envVars:
      - key: REDIS_URL
        value: redis://redis:6379

  - name: notification-service
    type: web
    env: docker
    dockerContext: ./notification-service
    dockerfilePath: ./notification-service/Dockerfile
    plan: free
    envVars:
      - key: REDIS_URL
        value: redis://redis:6379

  - name: menu-service
    type: web
    env: docker
    dockerContext: ./menu-service
    dockerfilePath: ./menu-service/Dockerfile
    plan: free

  - name: redis
    type: worker
    env: docker
    image: redis:7-alpine
