services:

  - name: api-gateway
    type: web
    env: docker
    dockerContext: ./api-gateway
    dockerfilePath: ./api-gateway/Dockerfile
    plan: free
    envVars:
      AUTH_SERVICE_URL: http://auth-service:1001
      ORDER_SERVICE_URL: http://order-service:1002
      TABLE_SERVICE_URL: http://table-service:1003
      NOTIFICATION_SERVICE_URL: http://notification-service:1004
      MENU_SERVICE_URL: http://menu-service:1005

  - name: auth-service
    type: web
    env: docker
    dockerContext: ./auth-service
    dockerfilePath: ./auth-service/Dockerfile
    plan: free
    envVars:
      REDIS_URL: redis://redis:6379

  - name: order-service
    type: web
    env: docker
    dockerContext: ./order-service
    dockerfilePath: ./order-service/Dockerfile
    plan: free
    envVars:
      REDIS_URL: redis://redis:6379

  - name: table-service
    type: web
    env: docker
    dockerContext: ./table-service
    dockerfilePath: ./table-service/Dockerfile
    plan: free
    envVars:
      REDIS_URL: redis://redis:6379

  - name: notification-service
    type: web
    env: docker
    dockerContext: ./notification-service
    dockerfilePath: ./notification-service/Dockerfile
    plan: free
    envVars:
      REDIS_URL: redis://redis:6379

  - name: menu-service
    type: web
    env: docker
    dockerContext: ./menu-service
    dockerfilePath: ./menu-service/Dockerfile
    plan: free

  - name: redis
    type: worker
    env: docker
    image: redis:7-alpine
